.card {
  padding: 0;
  width: 60%;
  box-shadow: none;
  border: 1px solid #dedede;
  margin-top: 30px;
}

.cardTitle {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

.cardTitle p {
  margin: 0;
}

.collapsedContent {
  transition: height 300ms;
}

@media only screen and (max-width: 1300px) {
  .card {
    width: 90%;
    margin: 20px auto;
  }
}
