.wrapper input {
  height: 40px;
  font-size: 1.3rem;
  border: 2px solid #bad7e3;
  outline: none;
  border-radius: 5px;
  padding: 5px 20px;
}

.wrapper input:focus {
  border-color: #93a7af !important;
}

.error input {
  border-color: #df6c5e;
}
