.header {
  font-size: 2.5rem;
}

.wrapper hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #dedede;
  margin: 1em 0;
  padding: 0;
}

.collapse {
  padding: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.warning {
  color: #ec7d78;
  font-size: 1.3rem;
  font-weight: bold;
  font-style: italic;
  padding: 10px;
  border: 1px solid #ec7d78;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}

.deleteAccountButton {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #df6c5e;
  font-size: 1rem;
}

.deleteAccountButton:hover {
  background-color: #bd5a4c;
}

.deleteContent {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.changePasswordContent,
.changeNameContent {
  padding: 20px;
}

.changePasswordContent form,
.changeNameContent form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.changePasswordContent input,
.changeNameContent input {
  width: 300px;
}

@media only screen and (max-width: 500px) {
  .changePasswordContent input,
  .changeNameContent input {
    width: 90%;
  }
}
