.title {
  font-weight: bold;
  font-size: 2.3rem;
}

.movies {
  width: 60%;
}

@media only screen and (max-width: 1500px) {
  .movies {
    width: 90%;
  }
}
@media only screen and (max-width: 700px) {
  .title {
    text-align: center;
  }
}
