.header {
  font-size: 2.5rem;
}

.content hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #dedede;
  margin: 1em 0;
  padding: 0;
}

.select {
  width: 60%;
}

.collapse {
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.content {
  padding-top: 30px;
}

.innerContent {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px;
}

.actionButton {
  font-size: 1rem;
  height: 40px;
}

.warning {
  color: #ec7d78;
  font-size: 1.3rem;
  font-weight: bold;
  font-style: italic;
  padding: 10px;
  border: 1px solid #ec7d78;
  text-align: center;
  width: 500px;
  margin: 0;
  margin-left: 20px;
}

.cancelButton,
.deleteCollectionButton {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #df6c5e;
}

.deleteCollectionButton {
  font-size: 1rem;
}

.cancelButton:hover,
.deleteCollectionButton:hover {
  background-color: #bd5a4c;
}

.nameInput {
  width: 60%;
  height: 40px !important;
  font-size: 1rem;
  padding: 0 20px;
}

@media only screen and (max-width: 1300px) {
  .collapse {
    flex-wrap: wrap;
    gap: 20px;
  }

  .warning {
    width: 90%;
    margin: 0 auto;
  }

  .innerContent {
    justify-content: space-between;
    gap: 20px;
  }

  .select,
  .nameInput {
    flex-grow: 1;
  }
}
