.nav {
  display: flex;
  flex-direction: column;
  width: 235px;
  height: 100vh;
  background-color: #f6f6f6;
  position: fixed;
}

.upgradeBtn {
  margin: 20px 20px 0 20px;
}

.logo {
  margin: 40px auto 10px auto;
}

.burgerMenu {
  font-size: 1.5rem;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #858585;
  height: 30px;
  width: 30px;
  color: #858585;
  border-radius: 10px;
}

@media only screen and (max-width: 1024px) {
  .nav {
    display: unset;
    width: 100%;
    position: unset;
    overflow-y: auto;
  }

  .navOpened {
    position: fixed;
    height: 100%;
    z-index: 9999;
  }

  .logo {
    margin: 0;
  }

  .header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .upgradeBtn {
    margin: 30px auto;
    width: 80%;
    display: block;
  }
}
