.nav {
  display: flex;
  flex-direction: column;
  width: 235px;
  height: 100vh;
  background-color: #f6f6f6;
  position: fixed;
}

.upgradeBtn {
  margin: 20px 20px 0 20px;
}

.logo {
  margin: 40px auto 10px auto;
}
