.content {
  display: flex;
}

.mainContent {
  transition: all 300ms;
  flex-grow: 1;
  margin-right: 0;
  position: relative;
}

.profileButton {
  top: 10px !important;
  right: 0px !important;
}

.reduced {
  margin-right: 260px;
}

.filtersHiding {
  animation-duration: 300ms;
  animation-name: filterHideAnimation !important;
}

@keyframes filterHideAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(260px);
  }
}

@keyframes filterHideAnimationMobile {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@media only screen and (max-width: 1024px) {
  .reduced {
    margin-right: 0;
  }

  .filtersHiding {
    animation-name: filterHideAnimationMobile !important;
    animation-duration: 300ms;
  }
}
