.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 30px;
}

.actions {
  display: flex;
}

.actions a,
.actions a:active {
  margin-left: 25px;
  text-decoration: none;
  transition: all 200ms;
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
}

.actions a:hover {
  color: #4bc1d2;
}
