.letters {
  color: black;
  font-weight: 300;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.letters span {
  cursor: pointer;
}

.choosen {
  color: #7ac1d2;
  font-weight: bold;
}
