.coverMovie {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 200px;
  align-items: center;
}

.coverMovie img {
  width: 130px;
  height: 195px;
}

.coverTitle {
  font-weight: bold;
  margin: 0;
  margin-top: 10px;
  text-align: center;
}

.listMovie {
  margin-top: 40px;
}

.listTitle {
  font-size: 1.7rem;
  font-weight: bold;
  margin: 0;
}

.listGenres p {
  font-size: 0.8rem;
  font-weight: bold;
}

.listMovieDetails {
  display: flex;
}

.listMovieDetails p {
  margin-left: 20px;
}

.listMovieDetails p:first-of-type {
  margin-left: 0;
}

.listMovieDetails span {
  font-weight: bold;
}

.summaryMovie {
  display: flex;
  margin-top: 30px;
  margin-left: 20px;
  width: 45%;
  box-shadow: none;
  border: 1px solid #e6e6e6;
  border-radius: 7px;
}

.summaryLeft img {
  width: 115px;
  height: 172px;
}

.summaryRight {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.summaryTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.summaryMovieDetails {
  display: flex;
}

.summaryMovieDetails p {
  margin-left: 20px;
}

.summaryMovieDetails p:first-of-type {
  margin-left: 0;
}

.summaryMovieDetails span {
  font-weight: bold;
}

.overview {
  margin: 0;
}

.removeButton {
  width: 130px;
  height: 50px;
  font-size: 1.5rem;
  padding: 0px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #df6c5e;
}

.removeButton:hover {
  background-color: #bd5a4c;
}

.removeButton span {
  font-size: 1rem;
  margin-left: 10px;
}

.coverRemoveButton {
  position: absolute;
}

.summaryRemoveButton {
  position: absolute;
  width: 115px;
}

.summaryRemoveButton span {
  font-size: 0.9rem;
}
