.content {
  width: 260px;
  border-left: 1px solid #ececec;
  position: fixed;
  right: 0;
  height: 100vh;
  animation-name: showAnimation;
  animation-duration: 300ms;
  padding-left: 15px;
  padding-right: 15px;
}

.content hr {
  border: none;
  border-top: 1px solid #ececec;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header p {
  font-size: 1.5rem;
  font-weight: bold;
}

.clearButton {
  background-color: #df6c5e;
  font-size: 1rem;
}

.clearButton:hover {
  background-color: #bd5a4c !important;
}

.ratingSlider {
  margin-top: 20px;
}

.datePickers {
  display: flex;
}

.datePickers > div {
  margin-left: 10px;
}

.datePickers > div:first-of-type {
  margin-left: 0;
}

.datePickers input {
  width: 70px;
  appearance: none;
}

.filterLabel {
  font-weight: bold;
  font-size: 1.2rem;
}

.genresFilter {
  margin-top: 30px;
}

.genresSelect {
  margin-top: 20px;
  width: 230px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

@keyframes showAnimation {
  0% {
    transform: translateX(260px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes showAnimationMobile {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 1024px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    right: 0;
    top: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: white;
    z-index: 4;
    animation-name: showAnimationMobile;
  }

  .header {
    gap: 30px;
  }
}
