.form input {
  width: 400px;
  margin-top: 20px;
}

.submitBtn {
  margin-top: 20px;
  width: 100%;
}

.inputGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 0 !important;
}
.inputGroup input {
  width: 170px;
}

@media only screen and (max-width: 600px) {
  .form {
    text-align: center;
  }
  .form input {
    width: 85% !important;
  }

  .inputGroup {
    display: unset;
  }
}
