.header {
  font-size: 2.5rem;
}

.content hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #dedede;
  margin: 1em 0;
  padding: 0;
}

.label {
  font-weight: bold;
  font-size: 2rem;
  display: block;
  margin-top: 30px;
}

.input,
.select {
  width: 100%;
  margin-top: 30px;
}

.input input,
.select select {
  width: 60%;
}

.select select {
  height: 50px !important;
}

.description {
  font-style: italic;
  font-size: 0.9rem;
}

.submit {
  padding: 10px 30px;
  font-size: 1.2rem;
}
