.group {
  font-size: 1.6rem;
  color: #4bc1d2;
  font-weight: bold;
}

.wrapper hr {
  border: none;
  border-top: 1px solid #ececec;
}

.coverMovies {
  display: flex;
  flex-wrap: wrap;
}

.listMovies {
  display: block;
}

.summaryMovies {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1400px) {
  .summaryMovies {
    display: block;
  }
}

@media only screen and (max-width: 650px) {
  .coverMovies {
    justify-content: center;
  }
}
